<template>
  <div id="container">
    <h1 class="title">Clientes</h1>
    <b-table
        :data="isEmpty ? [] : clientes"
        :bordered="true"
        :striped="true"
        :narrowed="false"
        :hoverable="true"
        :loading="isLoading"
        :mobile-cards="true">

        <template slot-scope="props">
            <b-table-column label="ID" width="40" numeric>
                {{ props.row.id }}
            </b-table-column>

            <b-table-column label="Nome">
                {{ props.row.name }}
            </b-table-column>

            <b-table-column label="CPF">
                {{ props.row.cpf }}
            </b-table-column>

            <b-table-column label="Gênero">
                {{ props.row.gender }}
            </b-table-column>

            <b-table-column label="Nascimento">
                {{ moment(props.row.birthday).format('DD/MM/YYYY') }}
            </b-table-column>
        </template>

        <template slot="empty">
            <section class="section">
                <div class="content has-text-grey has-text-centered">
                    <p>
                        <b-icon
                            icon="frown-o"
                            size="is-large">
                        </b-icon>
                    </p>
                    <p>Nenhum registro.</p>
                </div>
            </section>
        </template>
    </b-table>

    <b-loading :active.sync="isLoading"></b-loading>
  </div>
  </template>

  <script>
  import axios from 'axios'
  import vSelect from 'vue-select'
  import * as CONFIG from '../emusicpassconfig'
  import moment from 'moment'
  export default {
  components: {vSelect},
  name: 'Clientes',
  data () {
    return {
      clientes: [],
      isEmpty: false,
      isLoading: false,
    }
  },
  methods: {
    moment(...args) {
      return moment(...args)
    },
    getClients() {
      let vm = this
      vm.isLoading = true
      axios.get(CONFIG.API_URL + 'cliente')
      .then(function (response) {
        vm.clientes = response.data
        vm.isLoading = false
      })
      .catch(function (error) {
        console.log(error)
        vm.isLoading = false
      })
    }
  },
  mounted() {
    this.getClients()
  }
  }
  </script>
  <style scoped>
    .mgt-32 {
      margin-top: 32px;
    }
  </style>
