<template>
  <div id="container">
    <h1 class="title">Evento - {{ evento.id }}</h1>
    <div class="columns">
      <div class="column">
        <b-field label="Nome">
            <b-input v-model="evento.name"></b-input>
        </b-field>
      </div>
      <div class="column">
        <b-field label="Data Inicial">
            <flat-pickr v-model="evento.start_date" :config="flatPickrConfig"></flat-pickr>
        </b-field>
      </div>
      <div class="column">
        <b-field label="Data Final">
            <flat-pickr v-model="evento.end_date" :config="flatPickrConfig"></flat-pickr>
        </b-field>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <b-field label="Endereço">
            <b-input v-model="evento.address"></b-input>
        </b-field>
      </div>
      <div class="column has-text-centered">
        <qriously :value="eventoId" :size="200" />
      </div>
    </div>
    <div class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <a class="level-item" @click="cancelEdit">
          Cancelar
        </a>
        <button type="button" class="button is-success level-item" @click="updateEvent">
          Salvar
        </button>
      </div>
    </div>

    <b-loading :active.sync="isLoading"></b-loading>
  </div>
</template>

<script>
import axios from 'axios'
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'
import { Portuguese } from 'flatpickr/dist/l10n/pt'
import * as CONFIG from '../emusicpassconfig'
export default {
  name: 'Evento',
  components: {
    flatPickr
  },
  data () {
    return {
      evento: {},
      eventoId: '',
      isLoading: false,
      flatPickrConfig: {
        altFormat: 'd/m/Y H:i',
        altInput: true,
        enableTime: true,
        dateFormat: 'Y-m-d H:i:S',
        time_24hr: true,
        locale: Portuguese
      }
    }
  },
  methods: {
    getEvent() {
      let vm = this
      vm.isLoading = true
      axios.get(CONFIG.API_URL + 'evento/' + this.$route.params.id)
      .then(function (response) {
        vm.evento = response.data
        vm.eventoId = response.data.id.toString()
        vm.isLoading = false
      })
      .catch(function (error) {
        console.log(error)
        vm.isLoading = false
      })
    },
    updateEvent() {
      let vm = this
      vm.isLoading = true
      axios.post(CONFIG.API_URL + 'evento/' + this.$route.params.id,
      {
        name: vm.evento.name,
        start_date: vm.evento.start_date,
        end_date: vm.evento.end_date,
        address: vm.evento.address
      })
      .then(function (response) {
        vm.$toast.open('Evento salvo!')
        vm.getEvent()
        vm.isLoading = false
      })
      .catch(function (error) {
        console.log(error)
        vm.isLoading = false
      })
    },
    cancelEdit() {
      this.$router.replace({ name: 'eventos' })
    }
  },
  mounted() {
    this.getEvent()
  }
}
</script>
