<template>
  <div id="container">
    <div class="level">
      <div class="level-left">
        <h1 class="title level-item">Eventos</h1>
      </div>
      <div class="level-right">
        <button type="button" class="button is-link level-item" @click="createEvent">
          <b-icon
              icon="plus"
              size="is-small">
          </b-icon>
          <span>Novo</span>
        </button>
      </div>
    </div>
    <b-table
        :data="isEmpty ? [] : eventos"
        :bordered="true"
        :striped="true"
        :narrowed="false"
        :hoverable="true"
        :loading="isLoading"
        :mobile-cards="true">

        <template slot-scope="props">
            <b-table-column label="ID" width="40" numeric>
                {{ props.row.id }}
            </b-table-column>

            <b-table-column label="Título">
                {{ props.row.name }}
            </b-table-column>

            <b-table-column label="Data">
                {{ new Date(props.row.start_date).toLocaleDateString() }}
            </b-table-column>

            <b-table-column label="" width="103">
                <button type="button" class="button is-danger" @click="deleteEvent(props.row.id)">
                  <b-icon
                      icon="trash"
                      size="is-small">
                  </b-icon>
                </button>
                <router-link :to="{ name: 'evento', params: { id: props.row.id }}">
                  <button type="button" class="button is-success">
                    <b-icon
                        icon="pencil"
                        size="is-small">
                    </b-icon>
                  </button>
                </router-link>
            </b-table-column>
        </template>

        <template slot="empty">
            <section class="section">
                <div class="content has-text-grey has-text-centered">
                    <p>
                        <b-icon
                            icon="frown-o"
                            size="is-large">
                        </b-icon>
                    </p>
                    <p>Nenhum registro.</p>
                </div>
            </section>
        </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
import * as CONFIG from '../emusicpassconfig'
export default {
  name: 'Eventos',
  data () {
    return {
      eventos: [],
      isEmpty: false,
      isLoading: false
    }
  },
  methods: {
    getEvents() {
      let vm = this
      vm.isLoading = true
      axios.get(CONFIG.API_URL + 'evento')
      .then(function (response) {
        vm.eventos = response.data
        vm.isLoading = false
      })
      .catch(function (error) {
        console.log(error)
        vm.isLoading = false
      })
    },
    createEvent() {
      let vm = this
      vm.isLoading = true
      axios.post(CONFIG.API_URL + 'evento')
      .then(function (response) {
        vm.$router.push({ name: 'evento', params:{ id: response.data } })
        vm.isLoading = false
      })
      .catch(function (error) {
        console.log(error)
        vm.isLoading = false
      })
    },
    deleteEvent(id) {
      this.$dialog.confirm({
          title: 'Excluir evento',
          message: 'Você tem certeza que deseja <b>excluir</b> este evento e todos os ingressos cadastrados no mesmo? Esta ação não poderá ser desfeita.',
          cancelText: 'Cancelar',
          confirmText: 'Sim, excluir evento',
          type: 'is-danger',
          hasIcon: true,
          onConfirm: () => this.reallyDeleteEvent(id)
      })
    },
    reallyDeleteEvent(id) {
      let vm = this
      vm.isLoading = true
      axios.delete(CONFIG.API_URL + 'evento/' + id)
      .then(function (response) {
        vm.$toast.open('Evento excluído!')
        vm.getEvents()
        vm.isLoading = false
      })
      .catch(function (error) {
        console.log(error)
        vm.isLoading = false
      })
    }
  },
  mounted() {
    this.getEvents()
  }
}
</script>
