<template>
  <div id="container">
    <div class="level">
      <div class="level-left">
        <h1 class="title level-item">Ingressos</h1>
      </div>
      <div class="level-right">
        <button type="button" class="button is-link level-item" @click="toggleImport = !toggleImport">
          <b-icon v-if="!toggleImport"
              icon="plus"
              size="is-small">
          </b-icon>
          <b-icon v-if="toggleImport"
              icon="minus"
              size="is-small">
          </b-icon>
          <span>Importar</span>
        </button>
        <button type="button" class="button is-link level-item" @click="toggleFilter = !toggleFilter">
          <b-icon v-if="!toggleFilter"
              icon="plus"
              size="is-small">
          </b-icon>
          <b-icon v-if="toggleFilter"
              icon="minus"
              size="is-small">
          </b-icon>
          <span>Filtros</span>
        </button>
      </div>
    </div>
    <hr>
    <div v-if="toggleImport">
      <h2 class="subtitle">Importar</h2>
      <div class="columns">
        <div class="column is-4">
          <label for="">Evento</label><br>
          <v-select v-model="eventId" :options="eventOptions"></v-select>
        </div>
        <div class="column is-6">
          <label for="">Arquivo</label><br>
          <b-field>
            <b-upload v-model="files" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
              <a class="button is-primary">
                <b-icon icon="upload"></b-icon>
                <span>Clique para selecionar</span>
              </a>
            </b-upload>
            <div v-if="files && files.length">
              <span class="file-name">
                {{ files[0].name }}
              </span>
            </div>
          </b-field>
        </div>
        <div class="column is-2">
          <br>
          <button type="button" class="button" @click="importTickets" v-if="eventId != null && files.length > 0">Importar</button>
        </div>
      </div>
      <hr>
    </div>
    <div v-if="toggleFilter">
      <h2 class="subtitle">Filtrar</h2>
      <div class="columns">
        <div class="column is-4">
          <label for="">Evento</label><br>
          <v-select v-model="filter.event_id" :options="eventOptions"></v-select>
        </div>
        <div class="column is-4">
          <label for="">Tipo</label><br>
          <v-select v-model="filter.ticket_type_id" :options="ticketTypeOptions"></v-select>
        </div>
        <div class="column is-4">
          <label for="">Status</label><br>
          <v-select v-model="filter.ticket_status_id" :options="ticketStatusOptions"></v-select>
        </div>
      </div>
      <div class="columns">
        <div class="column is-4">
          <label for="">Lote</label><br>
          <v-select v-model="filter.ticket_lot_id" :options="ticketLotOptions"></v-select>
        </div>
        <div class="column is-4">
          <br>
          <button type="button" class="button is-link" @click="getTickets">Filtrar</button>
          <button type="button" class="button" @click="clearFilter">Limpar</button>
        </div>
      </div>
      <hr>
    </div>
    <div v-if="checkedRows.length > 0">
      <button type="button" class="button is-danger" @click="cancelSelectedTickets">Cancelar</button>
      <button type="button" class="button is-warning" @click="activateSelectedTickets">Ativar</button>
    </div>
    <br>
    <b-table
        :data="isEmpty ? [] : ingressos"
        :bordered="true"
        :striped="true"
        :hoverable="true"
        :loading="isLoading"
        :mobile-cards="true"
        :checked-rows.sync="checkedRows"
        checkable>

        <template slot-scope="props">
            <b-table-column label="QR" width="40" numeric>
                {{ props.row.qr_code }}
            </b-table-column>

            <b-table-column label="Evento">
                {{ props.row.event.name }}
            </b-table-column>

            <b-table-column label="Tipo">
                {{ props.row.type.name }}
            </b-table-column>

            <b-table-column label="Lote">
                {{ props.row.lot.name }}
            </b-table-column>

            <b-table-column label="Cliente">
                {{ props.row.client.name }}
            </b-table-column>

            <b-table-column label="CPF">
                {{ props.row.client.cpf }}
            </b-table-column>

            <b-table-column label="Situação">
                <span v-if="props.row.status.id == 1" class="tag is-warning">
                  {{ props.row.status.name }}
                </span>
                <span v-if="props.row.status.id == 2" class="tag is-success">
                  {{ props.row.status.name }}
                </span>
                <span v-if="props.row.status.id == 3" class="tag is-danger">
                  {{ props.row.status.name }}
                </span>
            </b-table-column>

            <b-table-column label="Data de criação">
                {{ moment(props.row.createdAt).format('DD/MM/YYYY') }}
            </b-table-column>
        </template>

        <template slot="empty">
            <section class="section">
                <div class="content has-text-grey has-text-centered">
                    <p>
                        <b-icon
                            icon="frown-o"
                            size="is-large">
                        </b-icon>
                    </p>
                    <p>Nenhum registro.</p>
                </div>
            </section>
        </template>
    </b-table>

    <b-loading :active.sync="isLoading"></b-loading>
  </div>
</template>

<script>
import axios from 'axios'
import vSelect from 'vue-select'
import * as CONFIG from '../emusicpassconfig'
import moment from 'moment'
export default {
  components: {vSelect},
  name: 'Ingressos',
  data () {
    return {
      ingressos: [],
      isEmpty: false,
      files: [],
      eventId: null,
      eventOptions: [],
      ticketLotOptions: [],
      ticketTypeOptions: [],
      ticketStatusOptions: [],
      isLoading: false,
      checkedRows: [],
      toggleImport: false,
      toggleFilter: false,
      filter: {
        event_id: '',
        ticket_type_id: '',
        ticket_lot_id: '',
        ticket_status_id: '',
      }
    }
  },
  methods: {
    activateSelectedTickets() {
      this.$dialog.confirm({
          title: 'Ativar Ingressos',
          message: 'Você tem certeza que deseja <b>ativar</b> o(s) ingresso(s) selecionado(s).',
          confirmText: 'Sim, ativar',
          cancelText: 'Não, voltar',
          type: 'is-success',
          hasIcon: true,
          onConfirm: () => this.reallyActivateSelectedTickets()
      })
    },
    cancelSelectedTickets() {
      this.$dialog.confirm({
          title: 'Cancelar Ingressos',
          message: 'Você tem certeza que deseja <b>cancelar</b> o(s) ingresso(s) selecionado(s).',
          confirmText: 'Sim, cancelar',
          cancelText: 'Não, voltar',
          type: 'is-danger',
          hasIcon: true,
          onConfirm: () => this.reallyCancelSelectedTickets()
      })
    },
    clearFilter() {
      this.filter.event_id = ''
      this.filter.ticket_type_id = ''
      this.filter.ticket_lot_id = ''
      this.filter.ticket_status_id = ''
      this.getTickets()
    },
    reallyActivateSelectedTickets() {
      let vm = this
      vm.isLoading = true
      axios.post(CONFIG.API_URL + 'ativar-ingressos/', {
        tickets: vm.checkedRows,
      })
      .then(function (response) {
        vm.$toast.open('Ingresso(s) ativado(s)!')
        vm.getTickets()
        vm.isLoading = false
      })
      .catch(function (error) {
        vm.$toast.open({
          message: error,
          type: 'is-danger'
        })
        vm.isLoading = false
      })
    },
    reallyCancelSelectedTickets() {
      let vm = this
      vm.isLoading = true
      axios.post(CONFIG.API_URL + 'cancelar-ingressos/', {
        tickets: vm.checkedRows,
      })
      .then(function (response) {
        vm.$toast.open('Ingresso(s) cancelado(s)!')
        vm.getTickets()
        vm.isLoading = false
      })
      .catch(function (error) {
        vm.$toast.open({
          message: error,
          type: 'is-danger'
        })
        vm.isLoading = false
      })
    },
    moment(...args) {
      return moment(...args)
    },
    importTickets() {
      let vm = this
      vm.isLoading = true
      const formData = new FormData()
      formData.append('import_file', vm.files[0], vm.files[0].name)
      axios.post(CONFIG.API_URL + 'importar-ingressos/' + vm.eventId.value, formData)
      .then(function (response) {
        vm.$toast.open('Ingressos importados!')
        vm.getTickets()
        vm.isLoading = false
      })
      .catch(function (error) {
        vm.$toast.open({
          message: error,
          type: 'is-danger'
        })
        vm.isLoading = false
      })
    },
    getSelects() {
      let vm = this
      vm.isLoading = true
      axios.get(CONFIG.API_URL + 'evento-select')
      .then(function (response) {
        vm.eventOptions = response.data
        vm.isLoading = false
      })
      .catch(function (error) {
        vm.$toast.open({
          message: error,
          type: 'is-danger'
        })
        vm.isLoading = false
      })
      axios.get(CONFIG.API_URL + 'ingresso-lote-select')
      .then(function (response) {
        vm.ticketLotOptions = response.data
        vm.isLoading = false
      })
      .catch(function (error) {
        vm.$toast.open({
          message: error,
          type: 'is-danger'
        })
        vm.isLoading = false
      })
      axios.get(CONFIG.API_URL + 'ingresso-status-select')
      .then(function (response) {
        vm.ticketStatusOptions = response.data
        vm.isLoading = false
      })
      .catch(function (error) {
        vm.$toast.open({
          message: error,
          type: 'is-danger'
        })
        vm.isLoading = false
      })
      axios.get(CONFIG.API_URL + 'ingresso-tipo-select')
      .then(function (response) {
        vm.ticketTypeOptions = response.data
        vm.isLoading = false
      })
      .catch(function (error) {
        vm.$toast.open({
          message: error,
          type: 'is-danger'
        })
        vm.isLoading = false
      })
    },
    getTickets() {
      let vm = this
      vm.checkedRows = []
      vm.isLoading = true
      axios.get(CONFIG.API_URL + 'ingresso', {
        params: {
          event_id: vm.filter.event_id.value,
          ticket_type_id: vm.filter.ticket_type_id.value,
          ticket_lot_id: vm.filter.ticket_lot_id.value,
          ticket_status_id: vm.filter.ticket_status_id.value,
        }
      })
      .then(function (response) {
        vm.ingressos = response.data
        vm.isLoading = false
      })
      .catch(function (error) {
        vm.$toast.open({
          message: error,
          type: 'is-danger'
        })
        vm.isLoading = false
      })
    }
  },
  mounted() {
    this.getSelects()
    this.getTickets()
  }
}
</script>
