<template>
  <div id="container">
    <div class="level">
      <div class="level-left">
        <h1 class="title level-item">Relatório em Tempo Real</h1>
      </div>
      <div class="level-right">
        <b-field label="Evento" class="level-item">
          <v-select :options="eventOptions" :onChange="getReport"
            placeholder="Selecione um evento..." class="mgl-10"></v-select>
        </b-field>
      </div>
    </div>
    <div class="columns is-multiline">
      <div class="column is-6" v-if="total > 0">
        <div class="box notification is-light">
          <div class="title is-size-5">Total de Ingressos: {{ total }}</div>
          <hr>
          <div class="title is-size-6" v-for="bt in byType">{{ bt.type.name }}: {{ bt.total }}</div>
          <hr>
          <div class="title is-size-6" v-for="bt in byStatus">{{ bt.status.name }}: {{ bt.total }}</div>
          <hr>
          <div class="title is-size-6" v-for="bt in byLot">{{ bt.lot.name }}: {{ bt.total }}</div>
        </div>
      </div>
      <div class="column is-6" v-if="typeChart.data && typeChart.labels">
        <div class="box notification is-light">
          <div class="heading">Por Tipo</div>
          <chartjs-pie v-bind:option="typeChart.option" :labels="typeChart.labels" :data="typeChart.data"></chartjs-pie>
        </div>
      </div>
      <div class="column is-6" v-if="statusChart.data && statusChart.labels">
        <div class="box notification is-light">
          <div class="heading">Por Status</div>
          <chartjs-pie v-bind:option="statusChart.option" :labels="statusChart.labels" :data="statusChart.data"></chartjs-pie>
        </div>
      </div>
      <div class="column is-6" v-if="lotChart.data && lotChart.labels">
        <div class="box notification is-light">
          <div class="heading">Por Lote</div>
          <chartjs-pie v-bind:option="lotChart.option" :labels="lotChart.labels" :data="lotChart.data"></chartjs-pie>
        </div>
      </div>
    </div>

    <b-loading :active.sync="isLoading"></b-loading>
  </div>
</template>

<script>
import axios from 'axios'
import vSelect from 'vue-select'
import * as CONFIG from '../emusicpassconfig'
import moment from 'moment'
import _ from 'lodash'
export default {
  components: {vSelect},
  name: 'Relatorio',
  data () {
    return {
      eventOptions: [],
      total: 0,
      byType: [],
      byStatus: [],
      byLot: [],
      typeChart:{
        option: {},
      },
      statusChart:{
        option: {},
      },
      lotChart:{
        option: {},
      },
      isLoading: false
    }
  },
  methods: {
    getReport(val) {
      let vm = this
      if (val != null && val.value != '' && val.value != null) {
        vm.isLoading = true
        axios.get(CONFIG.API_URL + 'relatorio/' + val.value)
        .then(function (response) {
          let typeChartData = []
          let typeChartLabels = []
          _.forEach(response.data.by_type, function(value, key) {
            typeChartLabels.push(value.type.name)
            typeChartData.push(value.total)
          })
          vm.typeChart.labels = typeChartLabels
          vm.typeChart.data = typeChartData

          let statusChartData = []
          let statusChartLabels = []
          _.forEach(response.data.by_status, function(value, key) {
            statusChartLabels.push(value.status.name)
            statusChartData.push(value.total)
          })
          vm.statusChart.labels = statusChartLabels
          vm.statusChart.data = statusChartData

          let lotChartData = []
          let lotChartLabels = []
          _.forEach(response.data.by_lot, function(value, key) {
            lotChartLabels.push(value.lot.name)
            lotChartData.push(value.total)
          })
          vm.lotChart.labels = lotChartLabels
          vm.lotChart.data = lotChartData

          vm.total = response.data.total
          vm.byType = response.data.by_type
          vm.byStatus = response.data.by_status
          vm.byLot = response.data.by_lot

          vm.isLoading = false
        })
        .catch(function (error) {
          vm.$toast.open({
            message: error,
            type: 'is-danger'
          })
          vm.isLoading = false
        })
      }
    },
    getSelects() {
      let vm = this
      vm.isLoading = true
      axios.get(CONFIG.API_URL + 'evento-select')
      .then(function (response) {
        vm.eventOptions = response.data
        vm.isLoading = false
      })
      .catch(function (error) {
        vm.$toast.open({
          message: error,
          type: 'is-danger'
        })
        vm.isLoading = false
      })
    }
  },
  mounted() {
    this.getSelects()
  }
}
</script>
<style scoped>
  .mgl-10 {
    margin-left: 10px;
  }
</style>
