<template>
  <div id="container">
    <h1 class="title">Tipos de Ingressos</h1>
    <hr>
    <h2 class="subtitle">Inserir novo tipo</h2>
    <div class="columns">
      <div class="column">
        <b-field label="Nome">
            <b-input v-model="newTicketTypeName"></b-input>
        </b-field>
      </div>
      <div class="column">
        <button type="button" class="button mgt-32"
          v-if="newTicketTypeName != '' && newTicketTypeName != null"
          @click="newTicketType">Inserir</button>
      </div>
    </div>
    <hr>
    <b-table
        :data="isEmpty ? [] : tipoIngressos"
        :bordered="true"
        :striped="true"
        :narrowed="false"
        :hoverable="true"
        :loading="isLoading"
        :mobile-cards="true">

        <template slot-scope="props">
            <b-table-column label="ID" width="40" numeric>
                {{ props.row.value }}
            </b-table-column>

            <b-table-column label="Nome">
                {{ props.row.label }}
            </b-table-column>
        </template>

        <template slot="empty">
            <section class="section">
                <div class="content has-text-grey has-text-centered">
                    <p>
                        <b-icon
                            icon="frown-o"
                            size="is-large">
                        </b-icon>
                    </p>
                    <p>Nenhum registro.</p>
                </div>
            </section>
        </template>
    </b-table>

    <b-loading :active.sync="isLoading"></b-loading>
  </div>
</template>

<script>
import axios from 'axios'
import vSelect from 'vue-select'
import * as CONFIG from '../emusicpassconfig'
export default {
  components: {vSelect},
  name: 'TipoIngressos',
  data () {
    return {
      tipoIngressos: [],
      isEmpty: false,
      isLoading: false,
      newTicketTypeName: ''
    }
  },
  methods: {
    newTicketType() {
      let vm = this
      vm.isLoading = true
      axios.post(CONFIG.API_URL + 'ingresso-tipo',
      {
        name: vm.newTicketTypeName,
      })
      .then(function (response) {
        vm.$toast.open('Tipo de ingresso inserido!')
        vm.getTicketType()
        vm.newTicketTypeName = ''
        vm.isLoading = false
      })
      .catch(function (error) {
        console.log(error)
        vm.isLoading = false
      })
    },
    getTicketType() {
      let vm = this
      vm.isLoading = true
      axios.get(CONFIG.API_URL + 'ingresso-tipo-select')
      .then(function (response) {
        vm.tipoIngressos = response.data
        vm.isLoading = false
      })
      .catch(function (error) {
        console.log(error)
        vm.isLoading = false
      })
    }
  },
  mounted() {
    this.getTicketType()
  }
}
</script>
<style scoped>
  .mgt-32 {
    margin-top: 32px;
  }
</style>
