<template>
  <div id="app">
    <header class="hero is-black">
    <div class="hero-head">
      <nav class="navbar has-shadow">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="./assets/logo.png" alt="EmusicPass" style="max-height: 2.5rem !important">
          </a>
          <!-- <button class="button navbar-burger" @click="menuToggle = !menuToggle" v-bind:class="{ 'is-active': menuToggle }">
            <span></span>
            <span></span>
            <span></span>
          </button> -->
        </div>


        <!-- <div class="navbar-menu navbar-start" v-bind:class="{ 'is-active': menuToggle }">
          <a class="navbar-item is-active">Home</a>
          <a class="navbar-item">Features</a>
          <a class="navbar-item">Pricing</a>
          <a class="navbar-item">About</a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              <figure class="image is-32x32" style="margin-right:.5em;">
                <img src="https://avatars1.githubusercontent.com/u/7221389?v=4&s=32">
              </figure>
              Admin
            </a>

            <div class="navbar-dropdown is-right">
                <a class="navbar-item">
                  <span class="icon is-small">
                    <i class="fa fa-user-o"></i>
                  </span>
                  Profile
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  <span class="icon is-small">
                    <i class="fa fa-power-off"></i>
                  </span>
                  Logout
                </a>
            </div>
          </div>
        </div> -->
      </nav>
    </div>
  </header>
  <div class="section">
    <div class="columns">
      <aside class="column is-2">
        <nav class="menu">
          <p class="menu-label">
            Relatórios
          </p>
          <ul class="menu-list">
            <li>
              <router-link :to="{ name: 'relatorio' }" active-class="is-active">
                <b-icon
                    icon="line-chart"
                    size="is-small">
                </b-icon>
                Tempo Real
              </router-link>
            </li>
          </ul>
          <p class="menu-label">
            Cadastros
          </p>
          <ul class="menu-list">
            <li>
              <router-link :to="{ name: 'eventos' }" active-class="is-active">
                <b-icon
                    icon="calendar"
                    size="is-small">
                </b-icon>
                Eventos
              </router-link>
            </li>
            <li>
              <router-link :to="{ name: 'ingressos' }" active-class="is-active">
                <b-icon
                    icon="ticket"
                    size="is-small">
                </b-icon>
                Ingressos
              </router-link>
            </li>
            <li>
              <router-link :to="{ name: 'tipoIngressos' }" active-class="is-active">
                <b-icon
                    icon="ticket"
                    size="is-small">
                </b-icon>
                Tipo de Ingressos
              </router-link>
            </li>
            <li>
              <router-link :to="{ name: 'clientes' }" active-class="is-active">
                <b-icon
                    icon="user"
                    size="is-small">
                </b-icon>
                Clientes
              </router-link>
            </li>
          </ul>
        </nav>
      </aside>
      <main class="column">
        <router-view></router-view>
      </main>
    </div>
  </div>
  </div>

</template>

<script>
export default {
  name: 'app',
  data() {
    return {
      menuToggle: true
    }
  }
}
</script>
